@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fontd1;
    src: url("/fonts/DanaFaNum-DemiBold.woff2") format("woff2")
}

@font-face {
    font-family: fontd2;
    src: url("/fonts/DanaFaNum-Medium.woff2") format("woff2")
}

@font-face {
    font-family: fontd3;
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2")
}

@font-face {
    font-family: fontm1;
    src: url("/fonts/Morabba-Bold.woff2") format("woff2")
}

@font-face {
    font-family: fontm2;
    src: url("/fonts/Morabba-Medium.woff2") format("woff2")
}

@font-face {
    font-family: fontm3;
    src: url("/fonts/Morabba-Light.woff2") format("woff2")
}

.ltr {
    direction: ltr;
}

@layer components {
    .contain {
        @apply py-10 mx-2 sm:mx-10 lg:mx-16 xl:mx-20 2xl:mx-32;
    }
}