@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iran;
    src: url(/fonts/iran/woff2/IRANSansXFaNum-Bold.woff2);
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

@layer components {
    .contain {
        @apply py-10 mx-2 sm:mx-10 lg:mx-16 xl:mx-20 2xl:mx-56;
    }
}